<nav class="w-100" dir="ltr">
  <ul class="d-flex align-items-center justify-content-between mx-auto" #menu>
    <!-- Background div for the active link -->
    <div
      *ngIf="isActiveLinkFound"
      class="background"
      [ngStyle]="{
        left: backgroundPosition.left + 'px',
        width: backgroundPosition.width + 'px',
        height: backgroundPosition.height + 'px'
      }"
    ></div>

    <!-- List of links -->
    <li
      *ngFor="let link of links"
      class="text-center py-2 px-3 pointer fw-medium d-flex align-items-center justify-content-center"
      [routerLink]="link.url"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.name[currentLanguage] }}
    </li>
  </ul>
</nav>
