section {
  .logo {
    position: absolute;
    top: 3%;
    right: 2%;
    &.en {
      left: 2%;
      right: unset;
    }
  }
  .container-fluid {
    padding-right: 12rem;

    &.en {
      padding-left: 12rem;
      padding-right: 0rem;
    }

    .header {
      h2 {
        font-size: 3.2rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 400px;
          height: 3px;
          border-radius: 5px;
          background-color: #cddc2980;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          right: 0;
          width: 300px;
          height: 6px;
          border-radius: 5px;
          background-color: #cddc29;
        }

        &.en {
          &::before {
            left: 0;
          }
          &::after {
            left: 0;
          }
        }
      }

      p {
        font-size: 1.1rem;
        max-width: 40ch;
      }
    }

    .col-container {
      padding-top: 5rem;
    }

    .image {
      position: relative;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(51, 121, 134, 0.5830707282913166) 28%,
        rgba(33, 115, 131, 1) 60%
      );

      img.bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        object-fit: cover;
        z-index: -1;
      }
    }

    .strategy-info {
      &:first-child {
        margin-bottom: 5rem;
      }
    }

    .steps {
      .step {
        .icon {
          border-bottom: 2px solid #fff;

          img {
            height: 70px;
            width: auto;
          }
        }

        h2 {
          color: var(--text-primary);
          font-size: 3.5rem;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
