section {
  background-color: #00afa9;
  .logo {
    position: absolute;
    top: 2%;
    left: 5%;

    &.en {
      right: 5%;
      left: unset;
    }
  }
  .container-fluid {
    padding: 5rem 8rem 1rem;
    .header {
      h2 {
        position: relative;
        font-size: 3rem;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 400px;
          height: 3px;
          border-radius: 5px;
          background-color: #cddc2980;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          right: 0;
          width: 300px;
          height: 6px;
          border-radius: 5px;
          background-color: #cddc29;
        }

        &.en {
          &::before {
            left: 0;
          }
          &::after {
            left: 0;
          }
        }
      }

      p {
        font-size: 2rem;
        line-height: 35px;
        text-align: justify;
      }
    }

    .content-container {
      gap: 8rem;
      .side-title-container {
        padding-top: 5%;
        .side-title {
          position: relative;
          font-size: 1.8rem;
          line-height: 35px;

          i {
            position: absolute;
            left: -3px;
            font-size: 0.5rem;
            bottom: -2.5px;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 3px;
            border-radius: 5px;
            background-color: #ffffff80;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            right: 0;
            width: 50%;
            height: 6px;
            border-radius: 5px;
            background-color: #fff;
          }

          &.en {
            i {
              right: -3px;
              left: unset;
            }
            &::before {
              left: 0;
            }
            &::after {
              left: 0;
            }
          }
        }

        .achievements {
          background-color: #cddc29;
          box-shadow: 0 0 0 5px #cddc2977;
          overflow: hidden;
          position: relative;
          i {
            font-size: 2rem;
          }
          &::after {
            content: "";
            background: #ffffff94;
            border: 30px solid #cddc299d;
            height: 185px;
            position: absolute;
            left: -75px;
            top: -50px;
            opacity: 1;
            transform: rotate(35deg);
            width: 80px;
            animation: reflectiveEffect 3s infinite
              cubic-bezier(0.175, 0.52, 0.165, 1);
          }
        }

        @keyframes spaceBetween {
          0% {
            margin-left: 15px; /* Initial gap */
          }
          50% {
            margin-left: 30px; /* Increased gap at midpoint */
          }
          100% {
            margin-left: 15px; /* Keep the gap at 30px */
          }
        }

        @keyframes reflectiveEffect {
          0% {
            left: -75px;
            top: -50px;
            transform: rotate(35deg);
          }

          50% {
            left: 140%;
            border: 30px solid #cddc299d;
            top: -60px;
            transform: rotate(40deg);
          }

          100% {
            left: 140%;
            border: 30px solid #cddc299d;
            top: -60px;
            transform: rotate(40deg);
          }
        }
      }
    }

    .row {
      .fact {
        .border-bottom {
          border-bottom: 4px solid #cddc29 !important;

          p {
            font-size: 7.5625rem;
            line-height: 125px;
          }

          img {
            height: 100px;
            width: auto;
          }
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
