:host {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.get-started {
  background-color: #fff;

  img {
    width: 500px;
    height: auto;
  }

  button {
    background-color: var(--background-default-lighten);
    box-shadow: 0 0 0 5px var(--background-default-lighten);
    color: #fff;
    width: fit-content;
    border: 0;
    outline: 0;
    font-size: 1.8rem;
    span i {
      animation: spaceBetween 3s infinite cubic-bezier(0.175, 0.52, 0.165, 1);
    }
  }

  p {
    color: var(--text-default);
  }

  .fx01 {
    color: white;
    background-color: var(--background-default-lighten);
    box-shadow: 0 0 0 5px #09475b77;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      background: #ffffff94;
      border: 30px solid #09475b9d;
      height: 185px;
      position: absolute;
      left: -75px;
      top: -50px;
      opacity: 1;
      transform: rotate(35deg);
      width: 80px;
      animation: reflectiveEffect 3s infinite
        cubic-bezier(0.175, 0.52, 0.165, 1);
    }
  }

  /*Creating the light source, this is the magic*/

  @keyframes spaceBetween {
    0% {
      margin-left: 15px; /* Initial gap */
    }
    50% {
      margin-left: 30px; /* Increased gap at midpoint */
    }
    100% {
      margin-left: 15px; /* Keep the gap at 30px */
    }
  }

  @keyframes reflectiveEffect {
    0% {
      left: -75px;
      top: -50px;
      transform: rotate(35deg);
    }

    50% {
      left: 130%;
      border: 30px solid #09475b9d;
      top: -60px;
      transform: rotate(40deg);
    }

    100% {
      left: 130%;
      border: 30px solid #09475b9d;
      top: -60px;
      transform: rotate(40deg);
    }
  }
}
